body,
h1,
h2,
p,
ul,
ol,
li,
figure,
table,
th,
td {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #f4f4f4;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns:auto;
    gap: 10px;
    margin: 0 20px;
}

@media (max-width: 768px){
    main {
        grid-template-columns: 1fr;
    }    
}

main > section {
    padding: 20px;
}

main section,
main article {
  color: black;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

p {
    margin-bottom: 16px;
  }
  
ul li {
    list-style-position: inside;
}

header {
    background-color: #0074d9;
    padding: 20px;
    display: flex;
    justify-content: center;
}

header h1 {
    color: white;
    font-size: 24px;
}

nav {
    background-color: #0074d9;
    text-align: center;
}

nav h2 {
    font-size: 14px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 1.0s;
}

#estados ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

@media (max-width: 768px) {
    #estados ul {
        flex-direction: column;
        align-items: center;
    }
}

#estados a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0,8s;
}

#estados a:hover {
    color: #747474;
}

footer {
    background-color: #333;
    text-align: center;
}

footer p {
    color: white;
}

footer a{
    color: white;
    text-decoration: none;
}